* {
  margin:0px;
  padding:0px;
}
.show{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.8);
}
body {
  color: black;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  background-color: orange;
}
.name  {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.nav-links {
  display: flex;
  width: 40%;
  justify-content: space-around;
}
.nav-links a {
  color:black;
  text-decoration: none;
  font-weight: bold;
}
.nav-links li {
  list-style: none;
}
.burger div{
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 4px;
}
.burger {
  display: none;
  cursor: pointer;
}
@media screen and (max-width:1100px) {
  .nav-links {
    width:60%;
  }
}
@media screen and (max-width:768px) {
  .nav-links{
    display:flex;
    flex-direction: column;
    position:absolute;
    height:26vh;
    top:8vh;
    right:0px;
    background-color: orange;
    z-index:-1;
    width:30%;
    align-items: center;
  }
  .text {
    font-size: 80%;
  }
  .burger {
    display:block;
  }

}
.nav-active {
transition: z-index 1s;
  z-index: 2;
}
.slideshowContainer {
  z-index: 1;
  position: absolute;
  top: 10vh;
  display: none;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  width: 100vw;
  height: 90vh;
}
.slideshowContainer img {
  display: block;
  max-width:80%;
  max-height: 70vh;
  margin: auto;
  margin-top: 15vh;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30vh;
  left:2vw;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  }
.next {
  left: 91vw;
  border-radius: 3px 0 0 3px;
}
.close {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 20px;
  height: 20px;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.mySlidesPeople, .mySlidesCity, .mySlidesNature {
  display:none;
}
.slideshowContainer .text {
  color: white;
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
}
.fas {
  padding:20px;
}
.btn-block {
  display: inline;
  border: 3px outset white;
  font-size: 95%;
  margin: 4px;
  color: white;
  padding: 4px;
}
.slideshowContainer a {
  text-decoration: none;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.contactText {
  color: white;
  margin-top: 150px;
  text-align: center;
}
.text-center {
  color:white;
  text-align: center;
  margin-top: 10%;
}
.links {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}
